   .add-restaurant {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .add-restaurant h2, .add-restaurant h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .add-restaurant form {
    display: flex;
    flex-direction: column;
  }
  
  .add-restaurant label {
    margin-bottom: 10px;
  }
  
  .add-restaurant input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-restaurant button {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  .add-restaurant button:hover {
    background-color: orangered;
  }
  
  .add-restaurant p {
    text-align: center;
    margin-top: 20px;
  }
  
  .menu-item {
    margin-bottom: 20px;
  }
  